<div class="mat-typography app-frame mat-app-background" style="flex: 1;overflow: scroll;">
	<mat-toolbar color="primary">
		Ascension
	</mat-toolbar>
	<mat-tab-group>
		<mat-tab label="Builder">
			<div cols="4" rows="1">
				<div colspan="1" rowspan="1">
					<div>
						<div style="padding: 16px; display: flex">
							<mat-card style="margin: 12px">
								<mat-card-title>
									Ascension
								</mat-card-title>
								<mat-card-content>
									<div *ngFor="let item of builder.Character.CurrentAscension | keyvalue">
										<div *ngIf="item.value != 0" style="padding: 4px">
											{{item.value}} {{item.key}}
										</div>
									</div>
								</mat-card-content>
								<mat-card-actions align="end">
									Points Used: {{builder.PointsUsed}}
								</mat-card-actions>
							</mat-card>
							<mat-card style="margin: 12px">
								<mat-card-title>
									Statistics
								</mat-card-title>
								<mat-card-content>
									<div *ngFor="let item of builder.Character.Statistics | keyvalue">
										<div *ngIf="item.value != 0" style="padding: 4px">
											{{item.value}} {{item.key}}
										</div>
									</div>
								</mat-card-content>
							</mat-card>
							<mat-card style="margin: 12px">
								<mat-card-title>
									Modifiers
								</mat-card-title>
								<mat-card-content>
									<div *ngFor="let item of builder.Character.Modifiers">
										<div style="padding: 4px">
											{{item}}
										</div>
									</div>
								</mat-card-content>
							</mat-card>
							<mat-card style="margin: 12px">
								<mat-card-title>
									Completed
								</mat-card-title>
								<mat-card-content>
									<mat-chip-list #chipList>
										<mat-chip *ngFor="let item of builder.CompletedClasses" [selectable]="true"
											removable="true" (removed)="builder.resetClass(item)">
											{{item.Name}}
											<mat-icon matChipRemove>cancel</mat-icon>
										</mat-chip>
									</mat-chip-list>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
				</div>
				<div colspan="3" rowspan="1">
					<div>
						<div>
							<div style="display: flex; flex-wrap: wrap;">
								<mat-card style="flex: 1;margin: 24px;padding: 0px; max-width: 300px; min-width: 300px"
									*ngFor="let cls of builder.AvailableClasses">
									<mat-card-header
										[ngStyle]="{ 'background-color': colors[cls.Group], 'color': 'rgba(255,255,255,.95)', 'padding':'12px', 'font-size':'1.25em', 'font-weight':'500' }">
										{{cls.Name}}
									</mat-card-header>
									<mat-card-content style="padding: 12px">
										<div style="margin-bottom: 4px">
											<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
												Completion Grants
											</div>
											<div *ngFor="let item of cls.Grants | keyvalue">
												<div *ngIf="item.value != 0" style="padding: 4px">
													{{item.value}} {{item.key}}
												</div>
											</div>
											<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
												Requires
											</div>
											<div *ngFor="let item of cls.Requires | keyvalue">
												<div *ngIf="item.value != 0" style="padding: 4px">
													{{item.value}} {{item.key}}
												</div>
											</div>
										</div>
										<div *ngIf="cls.Nodes.length == 1">
											<div *ngFor="let node of cls.Nodes">
												<mat-checkbox (change)="checked($event, node, cls)"
													[checked]="node.Selected">
													{{cls.Name}}
												</mat-checkbox>
											</div>
										</div>
										<div *ngIf="cls.Nodes.length > 1">
											<div *ngFor="let node of cls.Nodes; $index as index">
												<div>
													<div style="display: flex">
														<div style="padding: 4px;font-size: 1.1em;font-weight:600;"
															*ngIf="node.SubNodes.length != 0">
															Node {{node.ID}}
														</div>
														<div style="flex:1; text-align: right; margin-left: 8px;">
															{{node.Raw}}
														</div>
													</div>
													<div *ngIf="node.SubNodes.length == 0">
														<mat-checkbox [checked]="node.Selected">{{node.ID}}
														</mat-checkbox>
													</div>
												</div>
												<div *ngFor="let subnode of node.SubNodes">
													<div style="display: flex; padding: 4px">
														<div>
															<mat-checkbox [checked]="subnode.Selected"
																(change)="checked($event, subnode, cls)" [disabled]="">
															</mat-checkbox>
														</div>
														<div style="flex:1; text-align: right; margin-left: 8px;">
															{{subnode.Raw}}
														</div>
													</div>
												</div>
											</div>
										</div>
									</mat-card-content>
								</mat-card>
							</div>
						</div>
					</div>
				</div>
				<!--
			<div style="flex: 1">
				<div class="header">
					Completed
				</div>
				<div>
					<div style="display: flex; flex-wrap: wrap">
						<mat-card style="flex: 1;margin: 24px;padding: 0px; max-width: 300px; min-width: 300px"
							*ngFor="let cls of builder.CompletedClasses">
							<mat-card-header
								[ngStyle]="{ 'background-color': colors[cls.Group], 'color': 'rgba(255,255,255,.8)', 'padding':'12px', 'font-size':'1.25em', 'font-weight':'500' }">
								{{cls.Name}}
							</mat-card-header>
							<mat-card-content style="padding: 12px">
								<div *ngIf="cls.Nodes.length == 1">
									<div *ngFor="let node of cls.Nodes">
										<mat-checkbox (change)="checked($event, node, cls)" [checked]="node.Selected">
											{{cls.Name}}
										</mat-checkbox>
									</div>
								</div>
								<div *ngIf="cls.Nodes.length > 1">
									<div *ngFor="let node of cls.Nodes">
										<div>
											<div *ngIf="node.SubNodes.length != 0">
												{{node.ID}}
											</div>
											<div *ngIf="node.SubNodes.length == 0">
												<mat-checkbox [checked]="node.Selected">{{node.ID}}</mat-checkbox>
											</div>
										</div>
										<div *ngFor="let subnode of node.SubNodes">
											<mat-checkbox [checked]="subnode.Selected"
												(change)="checked($event, subnode, cls)">{{node.ID}}</mat-checkbox>
										</div>
									</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</div>-->
			</div>

		</mat-tab>
		<mat-tab label="Discovery">
			<div style="display: flex">
				<div>
					<mat-card style="margin: 12px">
						<mat-card-title>
							Filters
						</mat-card-title>
						<mat-card-content>
							<div class="example-action-buttons">
								<button mat-button (click)="accordion.openAll()">Expand All</button>
								<button mat-button (click)="accordion.closeAll()">Collapse All</button>
							</div>
							<mat-form-field>
								<mat-label>Text Search</mat-label>
								<input matInput [(ngModel)]="builder.Filters.Raw">
                  </mat-form-field>

								<mat-accordion class="example-headers-align" multi>
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											<mat-panel-title>
												Activators
											</mat-panel-title>

										</mat-expansion-panel-header>
										<div *ngFor="let stat of builder.AllActivators | keyvalue">
											<mat-checkbox [checked]="stat.value"
												(change)="actFilterChecked($event, stat.key, builder.AllStatistics)">
												{{stat.key}}</mat-checkbox>
										</div>
									</mat-expansion-panel>
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											<mat-panel-title>
												Statistics
											</mat-panel-title>

										</mat-expansion-panel-header>
										<div *ngFor="let stat of builder.AllStatistics | keyvalue">
											<mat-checkbox [checked]="stat.value"
												(change)="statFilterChecked($event, stat.key, builder.AllStatistics)">
												{{stat.key}}</mat-checkbox>
										</div>
									</mat-expansion-panel>
								</mat-accordion>
						</mat-card-content>
					</mat-card>
				</div>
				<div style="flex: 1">
					<mat-card style="margin: 12px">
						<mat-card-title>
							Results
						</mat-card-title>
						<mat-card-content>
							<div style="display: flex; flex-wrap: wrap;">
								<mat-card style="flex: 1;margin: 24px;padding: 0px; max-width: 300px; min-width: 300px"
									*ngFor="let cls of builder.QueryMatches">
									<mat-card-header
										[ngStyle]="{ 'background-color': colors[cls.Group], 'color': 'rgba(255,255,255,.95)', 'padding':'12px', 'font-size':'1.25em', 'font-weight':'500' }">
										{{cls.Name}}
									</mat-card-header>
									<mat-card-content style="padding: 12px">
										<div style="margin-bottom: 4px">
											<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
												Completion Grants
											</div>
											<div *ngFor="let item of cls.Grants | keyvalue">
												<div *ngIf="item.value != 0" style="padding: 4px">
													{{item.value}} {{item.key}}
												</div>
											</div>
											<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
												Requires
											</div>
											<div *ngFor="let item of cls.Requires | keyvalue">
												<div *ngIf="item.value != 0" style="padding: 4px">
													{{item.value}} {{item.key}}
												</div>
											</div>
										</div>
										<div *ngIf="cls.Nodes.length == 1">
											<div *ngFor="let node of cls.Nodes">
											</div>
										</div>
										<div *ngIf="cls.Nodes.length > 1">
											<div *ngFor="let node of cls.Nodes; $index as index">
												<div>
													<div style="display: flex">
														<div style="padding: 4px;font-size: 1.1em;font-weight:600;"
															*ngIf="node.SubNodes.length != 0">
															Node {{node.ID}}
														</div>
														<div style="flex:1; text-align: right; margin-left: 8px;">
															{{node.Raw}}
														</div>
													</div>
												</div>
												<div *ngFor="let subnode of node.SubNodes">
													<div style="display: flex; padding: 4px">
														<div style="flex:1; text-align: right; margin-left: 8px;">
															{{subnode.Raw}}
														</div>
													</div>
												</div>
											</div>
										</div>
									</mat-card-content>
								</mat-card>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Paths">
			<div style="display: flex; flex-wrap: wrap;" *ngIf="!builder.Paths">
				<mat-card style="flex: 1;margin: 24px;padding: 0px; max-width: 300px; min-width: 300px"
					*ngFor="let cls of builder.LastTierClasses">
					<mat-card-header
						[ngStyle]="{ 'background-color': colors[cls.Group], 'color': 'rgba(255,255,255,.95)', 'padding':'12px', 'font-size':'1.25em', 'font-weight':'500' }">
						<div style="display: flex;flex:1">
							<div style="flex:1">
								{{cls.Name}}
							</div>
							<div style=" margin-right: 12px">
								<mat-icon style="cursor:pointer" (click)="builder.SelectedClassTarget=cls">open_in_full
								</mat-icon>
							</div>
						</div>
					</mat-card-header>
					<mat-card-content style="padding: 12px">
						<div style="margin-bottom: 4px">
							<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
								Completion Grants
							</div>
							<div *ngFor="let item of cls.Grants | keyvalue">
								<div *ngIf="item.value != 0" style="padding: 4px">
									{{item.value}} {{item.key}}
								</div>
							</div>
							<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
								Requires
							</div>
							<div *ngFor="let item of cls.Requires | keyvalue">
								<div *ngIf="item.value != 0" style="padding: 4px">
									{{item.value}} {{item.key}}
								</div>
							</div>
						</div>
						<div *ngIf="cls.Nodes.length == 1">
							<div *ngFor="let node of cls.Nodes">
							</div>
						</div>
						<div *ngIf="cls.Nodes.length > 1">
							<div *ngFor="let node of cls.Nodes; $index as index">
								<div>
									<div style="display: flex">
										<div style="padding: 4px;font-size: 1.1em;font-weight:600;"
											*ngIf="node.SubNodes.length != 0">
											Node {{node.ID}}
										</div>
										<div style="flex:1; text-align: right; margin-left: 8px;">
											{{node.Raw}}
										</div>
									</div>
								</div>
								<div *ngFor="let subnode of node.SubNodes">
									<div style="display: flex; padding: 4px">
										<div style="flex:1; text-align: right; margin-left: 8px;">
											{{subnode.Raw}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
			<div *ngIf="builder.Paths">
				<mat-card style="flex: 1;margin: 24px;padding: 0px; max-width: 300px; min-width: 300px">
					<mat-card-header
						[ngStyle]="{ 'background-color': colors[builder.SelectedClassTarget.Group], 'color': 'rgba(255,255,255,.95)', 'padding':'12px', 'font-size':'1.25em', 'font-weight':'500' }">
						<div style="display: flex;flex:1">
							<div style="flex:1">
								{{builder.SelectedClassTarget.Name}}
							</div>
							<div style=" margin-right: 12px">
								<mat-icon style="cursor:pointer" (click)="builder.SelectedClassTarget=null">
									remove</mat-icon>
							</div>
						</div>
					</mat-card-header>
				</mat-card>
				<div style="display: flex; flex-wrap: wrap;">
					<!--<div *ngFor="let path of builder.Paths">-->
					<mat-card style="flex: 1;margin: 24px;padding: 0px; max-width: 300px; min-width: 300px"
						*ngFor="let cls of builder.HighestValueClasses">
						<mat-card-header
							[ngStyle]="{ 'background-color': colors[cls.Group], 'color': 'rgba(255,255,255,.95)', 'padding':'12px', 'font-size':'1.25em', 'font-weight':'500' }">
							<div style="display: flex;flex:1">
								<div style="flex:1">
									{{cls.Name}}
								</div>
								<div style=" margin-right: 12px">
									<mat-icon style="cursor:pointer" (click)="builder.SelectedClassTarget=cls">
										open_in_full</mat-icon>
								</div>
							</div>
						</mat-card-header>
						<mat-card-content style="padding: 12px">
							<div style="margin-bottom: 4px">
								<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
									Completion Grants
								</div>
								<div *ngFor="let item of cls.Grants | keyvalue">
									<div *ngIf="item.value != 0" style="padding: 4px">
										{{item.value}} {{item.key}}
									</div>
								</div>
								<div style="padding: 2px;font-size: 1.1em;font-weight:600;">
									Requires
								</div>
								<div *ngFor="let item of cls.Requires | keyvalue">
									<div *ngIf="item.value != 0" style="padding: 4px">
										{{item.value}} {{item.key}}
									</div>
								</div>
							</div>
							<div *ngIf="cls.Nodes.length == 1">
								<div *ngFor="let node of cls.Nodes">
								</div>
							</div>
							<div *ngIf="cls.Nodes.length > 1">
								<div *ngFor="let node of cls.Nodes; $index as index">
									<div>
										<div style="display: flex">
											<div style="padding: 4px;font-size: 1.1em;font-weight:600;"
												*ngIf="node.SubNodes.length != 0">
												Node {{node.ID}}
											</div>
											<div style="flex:1; text-align: right; margin-left: 8px;">
												{{node.Raw}}
											</div>
										</div>
									</div>
									<div *ngFor="let subnode of node.SubNodes">
										<div style="display: flex; padding: 4px">
											<div style="flex:1; text-align: right; margin-left: 8px;">
												{{subnode.Raw}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
					<!--	</div>-->
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>